@model dynamic
@{
    ViewBag.Title = "Checkout";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Check out</li>
            </ol>
        </div><!--/breadcrums-->

        <div class="shopper-informations">
            <div class="row">
                <div class="col-sm-5 clearfix">
                    <div class="bill-to">
                        @*<p>Bill To</p>*@
                        <div class="form-one">
                            <form>
                                <input type="text" id="user-name" placeholder="Name *" required value="@Model.UserDetails.Name">
                                <input type="text" id="user-phone" placeholder="Phone *" required>

                                <input type="text" id="np-cities" placeholder="City *" required>
                                <span id="np-city-toogle" class="input-autocomplete" style="position: absolute;top: 101px; left: 433px;">
                                    <span></span>
                                </span>
                                <div id="np-cities-menu-container" style="position:absolute; width: 500px;"></div>

                                <input type="text" id="np-departments" placeholder="Department *" required>
                                <span id="np-departments-toogle" class="input-autocomplete" style="position: absolute;top: 151px; left: 433px;">
                                    <span></span>
                                </span>
                                <div id="np-departments-menu-container" style="position:absolute; width: 500px;"></div>
                                <input type="hidden" id="np-department-id" />
                            </form>
                            <a id="submit-order" class="btn btn-primary">Submit Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="payment-options">
        </div>
    </div>
</section> <!--/#cart_items-->

@section scripts{
    <script>
        var Checkout = {
            init: function () {
                var that = this;
                $("#submit-order").click(this.submitOrder);

                var citiesWasOpen = false;
                var citiesUrl = "@Url.Action("GetNpCities", "Checkout")";
                $.get(citiesUrl).success(function (res) {
                    $("#np-cities").autocomplete({
                        source: res,
                        minLength: 0,
                        appendTo: '#np-cities-menu-container',
                        select: that.onCityAutocompleteSelect
                    });

                    $("#np-city-toogle").mousedown(function () {
                        citiesWasOpen = $("#np-cities").autocomplete("widget").is(":visible");
                    });

                    $("#np-city-toogle").click(function () {
                        var input = $("#np-cities");
                        if (!citiesWasOpen) {
                            input.trigger("focus");
                            input.autocomplete("search", $("#np-cities").val());
                        }
                    })
                });

                var departmentsWasOpen = false;
                $("#np-departments").autocomplete({
                    source: [],
                    minLength: 0,
                    appendTo: '#np-departments-menu-container',
                    select: this.onDepartmentAutocompleteSelect
                });

                $("#np-departments-toogle").mousedown(function () {
                    departmentsWasOpen = $("#np-departments").autocomplete("widget").is(":visible");
                });

                $("#np-departments-toogle").click(function () {
                    var input = $("#np-departments");
                    if (!departmentsWasOpen) {
                        input.trigger("focus");
                        input.autocomplete("search", $("#np-departments").val());
                    }
                })
            },

            onCityAutocompleteSelect: function (e, ui) {
                var that = this;
                var value = ui.item.value;

                if (value) {
                    var url = "@Url.Action("GetNpDepartments", "Checkout")" + "?name=" + value;
                    $.get(url).success(function (res) {
                        $("#np-departments").autocomplete("option", {
                            source: function (request, response) {
                                response($.map(res, function (item) {
                                    return {
                                        label: item.AddressRu,
                                        value: item.AddressRu,
                                        realValue: item.Id
                                    };
                                }));
                            }
                        });
                    });
                } else {

                }
            },

            onDepartmentAutocompleteSelect: function (e, ui) {
                $("#np-department-id").val(ui.item.realValue);
            },

            submitOrder: function () {
                var url = "@Url.Action("SubmitOrder", "Checkout")"

                var params = {
                    name: $("#user-name").val(),
                    phone: $("#user-phone").val(),
                    npDepartmentId: $("#np-department-id").val()
                };

                $.get(url, params).success(function (res) {
                    console.log(res);
                    document.location = "@Url.Action("OrderSubmitted", "Checkout")"
                })
            },
        };

        $(function () {
            Checkout.init();
        })
    </script>
}