@using OriginalShirts.Domain;
@{
    ViewBag.Title = "Details";
}

<section>
    <div class="container">
        <div class="row">
            <div class="padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img id="detail-image-preview" src="@Model.Shirt.Image" alt="" />
                            <h3>ZOOM</h3>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a href="/images/shop/product7.jpg?w=500&h=500&mode=crop" rel="prettyPhoto[pp_gal]"><img src="/images/shop/product7.jpg?w=87&h=87&mode=crop" alt=""></a>
                                    <a href="/images/shop/product8.jpg?w=500&h=500&mode=crop" rel="prettyPhoto[pp_gal]"><img src="/images/shop/product8.jpg?w=87&h=87&mode=crop" alt=""></a>
                                    <a href="/images/shop/product9.jpg?w=500&h=500&mode=crop" rel="prettyPhoto[pp_gal]"><img src="/images/shop/product9.jpg?w=87&h=87&mode=crop" alt=""></a>

                                </div>
                                <div class="item">
                                    <a href="/images/shop/product10.jpg?w=500&h=500&mode=crop" rel="prettyPhoto[pp_gal]"><img src="/images/shop/product10.jpg?w=87&h=87&mode=crop" alt=""></a>
                                    <a href="/images/shop/product11.jpg?w=500&h=500&mode=crop" rel="prettyPhoto[pp_gal]"><img src="/images/shop/product11.jpg?w=87&h=87&mode=crop" alt=""></a>
                                    <a href="/images/shop/product12.jpg?w=500&h=500&mode=crop" rel="prettyPhoto[pp_gal]"><img src="/images/shop/product12.jpg?w=87&h=87&mode=crop" alt=""></a>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            @*<img src="/images/product-details/new.jpg" class="newarrival" alt="" />*@
                            <h2>@Model.Shirt.Name</h2>
                            <p>
                                Web ID: @Model.Shirt.Id
                            </p>
                            <table>
                                <tr>
                                    <td>
                                        <label>Type:</label>
                                    </td>
                                    <td>
                                        <select id="types">
                                            <option value="@ImagePatternType.Men">Men</option>
                                            <option value="@ImagePatternType.Women">Women</option>
                                            <option value="@ImagePatternType.Child">Child</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label>Color:</label>
                                    </td>
                                    <td>
                                        <select id="colors">
                                            @foreach (Color color in Model.Colors)
                                            {
                                                <option value="@color.Id">@color.Name</option>
                                            }
                                        </select>
                                        @*<div class="colors-example"></div>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Size:</label>
                                    </td>
                                    <td>
                                        <select id="sizes">
                                            @foreach (Size size in Model.Sizes)
                                            {
                                                <option value="@size.Id">@size.Name</option>
                                            }
                                        </select>
                                        @*<a>View size table</a>*@
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <label>Quantity:</label>
                                    </td>
                                    <td>
                                        <input type="text" value="1" id="quontity" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Availability:</label>
                                    </td>
                                    <td>
                                        <div style="height: 41px; position: relative; top: 8px;">In Stock</div>
                                    </td>
                                </tr>
                                @*<tr>
                                    <td>
                                        <label>Model:</label>
                                    </td>
                                    <td>
                                        <div style="height: 41px; position: relative; top: 8px;">Mes's t-shirt</div>
                                    </td>
                                </tr>*@
                                <tr>
                                    <td>
                                        <label>Price:</label>
                                    </td>
                                    <td>
                                        <span>US $@Model.Shirt.Price</span>
                                    </td>
                                </tr>
                            </table>
                            <button type="button" class="btn btn-fefault cart pull-right" id="addtoCart">
                                <i class="fa fa-shopping-cart"></i>
                                Add to cart
                            </button>
                            @*<p>Web ID: @Model.Id</p>
                                <img src="/images/product-details/rating.png" alt="" />
                                <span>
                                    <span>US $@Model.Price</span>
                                    <label>Quantity:</label>
                                    <input type="text" value="1" id="quontity" />
                                    <button type="button" class="btn btn-fefault cart" id="addtoCart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </button>
                                </span>
                                <p><b>Availability:</b> In Stock</p>
                                <p><b>Condition:</b> New</p>
                                <p><b>Brand:</b> E-SHOPPER</p>
                                <a href=""><img src="/images/product-details/share.png" class="share img-responsive" alt="" /></a>*@
                        </div>
                    </div>
                </div>

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li><a href="#details" data-toggle="tab">Details</a></li>
                            <li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
                            <li><a href="#tag" data-toggle="tab">Tag</a></li>
                            <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="details">
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="companyprofile">
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tag">
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="/images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade active in" id="reviews">
                            <div class="col-sm-12">
                                <ul>
                                    <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                                    <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                                    <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p><b>Write Your Review</b></p>

                                <form action="#">
                                    <span>
                                        <input type="text" placeholder="Your Name" />
                                        <input type="email" placeholder="Email Address" />
                                    </span>
                                    <textarea name=""></textarea>
                                    <b>Rating: </b> <img src="/images/product-details/rating.png" alt="" />
                                    <button type="button" class="btn btn-default pull-right">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<input type="hidden" id="productId" value="@Model.Shirt.Id" />

@section scripts{
    <script>

        (function ($) {
            var details = {

                sizes: null,
                colors: null,
                imagePatterns: null,

                init: function () {
                    var that = this;
                    $("#addtoCart").click(this.onAddToCart);
                    $("#colors").change(this.onColorChange);

                    var initialDataUrl = "@Url.Action("GetDetailsInitialData")";

                    $.get(initialDataUrl).success(function (res) {
                        that.sizes = $.grep(res, function (e) {
                            return e.Key == "Sizes";
                        })[0].Value;
                        that.colors = $.grep(res, function (e) {
                            return e.Key == "Colors";
                        })[0].Value;
                        that.imagePatterns = $.grep(res, function (e) {
                            return e.Key == "ImagePatterns";
                        })[0].Value;
                    })
                },

                onAddToCart: function () {
                    var quontity = $("#quontity").val();
                    var id = $("#productId").val();
                    var uri = "/cart/addtocart/?id=" + id + "&quontity=" + quontity;
                    $.get(uri).success(function (res) {
                        BudgeCart.reload();
                    })
                },

                onProductChange: function (e) {
                    var color = $("#colors").val();
                    var type = $("#types").val();
                    var productId = $("#productId").val();

                    var parrternId = $.grep(this.imagePatterns, function (e) {
                        return e.PatternType == type && e.Color.Name == color;
                    })[0].Id;

                    var imageUrl = "@Url.Action("GenerateImage")" + "?productId=" + productId + "&patternId=" + parrternId;
                    $("#detail-image-preview").attr("src", imageUrl);
                }
            }

            details.init();
        })(jQuery)

        //$(function () {
        //    $("a[rel^='prettyPhoto']").prettyPhoto({
        //        default_width: 500,
        //        default_height: 344,
        //        markup: '<div class="pp_pic_holder"> \
        //				<div class="ppt">&nbsp;</div> \
        //				<div class="pp_top"> \
        //					<div class="pp_left"></div> \
        //					<div class="pp_middle"></div> \
        //					<div class="pp_right"></div> \
        //				</div> \
        //				<div class="pp_content_container"> \
        //					<div class="pp_left"> \
        //					<div class="pp_right"> \
        //						<div class="pp_content"> \
        //							<div class="pp_loaderIcon"></div> \
        //							<div class="pp_fade"> \
        //								<a href="#" class="pp_expand" title="Expand the image">Expand</a> \
        //								<div class="pp_hoverContainer"> \
        //									<a class="pp_next" href="#">next</a> \
        //									<a class="pp_previous" href="#">previous</a> \
        //								</div> \
        //								<div id="pp_full_res"></div> \
        //								<div class="pp_details"> \
        //									<div class="pp_nav"> \
        //										<a href="#" class="pp_arrow_previous">Previous</a> \
        //										<p class="currentTextHolder">0/0</p> \
        //										<a href="#" class="pp_arrow_next">Next</a> \
        //									</div> \
        //									<p class="pp_description"></p> \
        //									{pp_social} \
        //									<a class="pp_close" href="#">Close</a> \
        //								</div> \
        //							</div> \
        //						</div> \
        //					</div> \
        //					</div> \
        //				</div> \
        //				<div class="pp_bottom"> \
        //					<div class="pp_left"></div> \
        //					<div class="pp_middle"></div> \
        //					<div class="pp_right"></div> \
        //				</div> \
        //			</div> \
        //			<div class="pp_overlay"></div>',
        //        gallery_markup: '<div class="pp_gallery"> \
        //						<a href="#" class="pp_arrow_previous">Previous</a> \
        //						<div> \
        //							<ul> \
        //								{gallery} \
        //							</ul> \
        //						</div> \
        //						<a href="#" class="pp_arrow_next">Next</a> \
        //					</div>',
        //        image_markup: '<img id="fullResImage" src="{path}" />'
        //    });
        //})


    </script>
}